.login-bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #ffffff;
    flex-direction: column;
}

.login-form-container {
    background-color: #FAF1F8;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h2 {
    margin-bottom: 1.5rem;
    color: #83214F;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.submit-button {
    background-color: #83214F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #6b1c42;
}

.otp-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 1rem;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.logo-image {
    height: 250px;
    width: 250px;
    margin-bottom: 30px;
}

.mobile-heading {
    text-align: left;
    color: #000000;
    font-size: 18px;
}